[Unit]
Description=Backup oluhome data and configurations

[Service]
Type=oneshot
User=sitheris
Group=sitheris
WorkingDirectory=/home/sitheris/docker/bin
ExecStart=/usr/bin/env sh -c '/home/sitheris/docker/bin/oluhome-backup'
